*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

header{
    text-align: center;
    color: aliceblue;
    background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(14,76,191,1) 100%);
}

.future-forecast{
    padding: 25px;
    display: flex;
    color: #030303;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.weather-forecast .weather-forecast-item{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: .5rem;
}

#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: .5rem;
}